/*

  EIBIO config file
  ===

*/
module.exports = {
  debug: true,
  port: 8000,
  /*
    
    secret and keys
    ---
  */
  secret: {
    cookie: 'the pulcinella secret', // cookie salt
    salt: 'the pulcinella secret salt', // password salt
    activation: 'the pulcinella secret for activation', // password salt
  },
  /*
    
    neo4j connection
    ---
    
  */
  neo4j : { // v.2.2
    host : {
      server: 'http://localhost:7575',
      user: '',
      pass: ''
    }
  },
  /*

    supported languages
    ---
  */
  languages:[
    'en',
    'fr'
  ],
  /*
    
    services section
    ---
  */
  dbpedia: {
    data: {
      endpoint: 'http://dbpedia.org/data/'
    },
    lookup: {
      endpoint: 'http://lookup.dbpedia.org/api/search.asmx/PrefixSearch'
    }
  },
  
  geonames: {
    username: 'YOUR-GEONAMES-USERNAME',
    search: {
      endpoint: 'http://api.geonames.org/search'
    }
  },
  
  geocode: {
    key: 'YOUR-GOOGLE-GEOCODING-API',
    search: {
      endpoint: 'https://maps.googleapis.com/maps/api/geocode/json'
    }
  },
  
  yagoaida: {
    disambiguate: {
      endpoint: 'https://gate.d5.mpi-inf.mpg.de/aida/service/disambiguate' 
    }
  },
  /*
    service for the endpoint:
    e.g. https://www.wikidata.org/wiki/Special:EntityData/Q789848.json
  */
  wikidata: {
    entity: {
      endpoint: 'https://www.wikidata.org/wiki/Special:EntityData/'
    }
  },

  viaf: {
    links: {
      endpoint: 'http://www.viaf.org/viaf/'
    },
    autosuggest: {
      endpoint: 'http://www.viaf.org/viaf/AutoSuggest/'
    }
  },
  /*
    Import.io powered services... :D
    Use the placeholder [[____]] that will contain the ISNI id or the worldcat id
    somewhere inside the endpoint.
    
  */
  alternatenames: {
    /*
    worldcat: {
      endpoint: 'https://api.import.io/store/data/YOUR DATASET ID/_query?input/webpage/url=http%3A%2F%2Fwww.worldcat.org%2Fidentities%2F[[____]]%2F&_user=YOUR USER ID&_apikey=YOUR API KEY'
    },
    isni: {
      endpoint: 'https://api.import.io/store/data/YOUR DATASET ID/_query?input/webpage/url=http%3A%2F%2Fisni.org%2Fisni%2F[[____]]&_user=YOUR USER ID&_apikey=YOUR API KEY'
    }
    */
  },
  /*
    
    logging
    ---
  */
  logs: {
    access: 'logs/access.log'
  },
  /*
    
    Custom task for manage.js
    ---
  */
  availableTasks: {
    'your-custom-task-series': [
    
    ]
  }
};