<person>
<doi>A</doi>
<title lang="fr">M. Le</title>
<title lang="en">Edgar Faure</title>
<name lang="fr">Faure</name>
<name lang="en">Faure</name>
<surname lang="fr">Edgar </surname>
<surname lang="en">Edgar</surname>
<birthDate>Tue Aug 18 00:51:00 CET 1908</birthDate>
<birthPlace lang="fr">Béziers (France)</birthPlace>
<birthPlace lang="en">Béziers (France)</birthPlace>
<deathDate>Wed Mar 30 00:00:00 CEST 1988</deathDate>
<deathPlace lang="fr">Paris (France)</deathPlace>
<deathPlace lang="en">Paris (France)</deathPlace>
<nationality lang="fr">française</nationality>
<nationality lang="en">French</nationality>
<duties lang="fr">Ministre de la Justice (1951)
Président du Conseil des ministres (janvier-février 1952 ; février 1955-janvier 1956)
Ministre des Finances (1952-1954 ; 1958)
Ministre des Affaires économiques (1953-1954)
Ministre de l’Agriculture (1966-1968)
Président de l’Assemblée nationale (1973-1978)
</duties>
<duties lang="en">Minister for Justice (1951)
Prime Minister (January–February 1952; February 1955–January 1956)
Minister for Finance (1952–1954; 1958)
Minister for Economic Affairs (1953–1954)
Minister for Agriculture (1966–1968)
President of the French National Assembly (1973–1978)
</duties>
</person>
<person>
<doi>B</doi>
<title lang="fr">Edgar Faure</title>
<title lang="en">Edgar Faure</title>
<name lang="fr">Faure</name>
<name lang="en">Faure</name>
<surname lang="fr">Edgar </surname>
<surname lang="en">Edgar</surname>
<birthDate>Tue Aug 18 00:51:00 CET 1908</birthDate>
<birthPlace lang="fr">Béziers (France)</birthPlace>
<birthPlace lang="en">Béziers (France)</birthPlace>
<deathDate>Wed Mar 30 00:00:00 CEST 1988</deathDate>
<deathPlace lang="fr">Paris (France)</deathPlace>
<deathPlace lang="en">Paris (France)</deathPlace>
<nationality lang="fr">française</nationality>
<nationality lang="en">French</nationality>
<duties lang="fr">Ministre de la Justice (1951)
Président du Conseil des ministres (janvier-février 1952 ; février 1955-janvier 1956)
Ministre des Finances (1952-1954 ; 1958)
Ministre des Affaires économiques (1953-1954)
Ministre de l’Agriculture (1966-1968)
Président de l’Assemblée nationale (1973-1978)
</duties>
<duties lang="en">Minister for Justice (1951)
Prime Minister (January–February 1952; February 1955–January 1956)
Minister for Finance (1952–1954; 1958)
Minister for Economic Affairs (1953–1954)
Minister for Agriculture (1966–1968)
President of the French National Assembly (1973–1978)
</duties>
</person>