<h2>description</h2>
<p>
  
</p>
<form class='form-horizontal'>
  <p>
    <label>Full Name</label>
    (english version only)
    <input class="form-control" type='text' ng-model='person.name'>
  </p>
  <p>
    <label>First Name</label>
    (english version)
    <input class="form-control" type='text' ng-model='person.first_name'>
  </p>
  <p>
    <label>Last Name</label>
    (english version)
    <input class="form-control" type='text' ng-model='person.last_name'>
  </p>
  <p>
    <label>English description</label>
    (Markdown)
    <textarea class="form-control" rows="5" ng-model='person.abstract_en'></textarea>
  </p>
  <p>
    <label>French description</label>
    (Markdown)
    <textarea class="form-control" rows="5" ng-model='person.abstract_fr'></textarea>
  </p>
  <p>
    <label>featured DOI links</label>
    (comma separated dois)
    <textarea class="form-control" rows="5" ng-model='person.dois'></textarea>
  </p>
</form>