<div class='person'>

  <h3><a ng-href='/#/person/{{item.props.slug}}'>{{item.props.name}}</a></h3>
  <div>{{item.props|datesOfAPerson}}</div>

  <div class='input-group' style='margin:20px auto'>
    <div class="input-group-btn">
      <a class='btn btn-small btn-default' clipboard text='item.props|tsv:personFields'>copy to clipboard</a>
      <a ng-if='item.activities' class='btn btn-small btn-default' clipboard text='item.activities|tsvs:activityFields'>copy activities to clipboard</a>
      <a ng-if='item.nationalities' class='btn btn-small btn-default' clipboard text='item.nationalities|tsvs:nationalityFields'>copy nationalities to clipboard</a>
    </div>
  </div>
  <div style='background: #f0f0f0; padding: 10px 15px'>
    <div ng-if='item.props.viaf_id'>
      <label>viaf:</label> 
      <a target='_blank' ng-href='http://viaf.org/viaf/{{item.props.viaf_id}}'>{{item.props.viaf_id}}</a>
    </div>
    <div ng-if='item.props.wiki_id'>
      <label>dbpedia:</label> 
      <a target='_blank' ng-href='http://dbpedia.org/resource/{{item.props.wiki_id}}'>{{item.props.wiki_id}}</a>
    </div>
    <div ng-if='item.props.wikidata_id'>
      <label>wikidata:</label> 
      <a target='_blank' ng-href='https://www.wikidata.org/wiki/{{item.props.wikidata_id}}'>{{item.props.wikidata_id}}</a>
    </div>
    <div ng-if='item.props.worldcat_id'>
      <label>worldcat:</label> 
      <a target='_blank' ng-href='http://www.worldcat.org/identities/{{item.props.worldcat_id}}'>{{item.props.worldcat_id}}</a>
    </div>
    <div ng-if='item.props.isni_id'>
      <label>isni:</label> 
      <a target='_blank' ng-href='http://isni.oclc.nl/DB=1.2/SET=1/TTL=1/CMD?ACT=SRCH&IKT=8006&SRT=&TRM=ISN%3A{{item.props.isni_id}}'>{{item.props.isni_id}}</a>
    </div>
    <p ng-if='item.props.abstract_en'>{{item.props.abstract_en}}</p>
    <p ng-if='item.props.abstract_fr'>{{item.props.abstract_fr}}</p>
  </div>
  
</div>
