<!DOCTYPE html>
html
  head
    title eibio
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    style(type='text/css').

      html{
        height: 100%
      }

      #view{
        margin-top:2em
      }

      
      .person-lite{
        margin-bottom: 10px;
        background-color: #f8f8f8;
        border: 1px solid #e7e7e7;
        padding: 15px;
        border-radius: 5px;
      }

  body(ng-app='eibio')
    div(ng-controller='CoreCtrl')
      div.container-fluid
        div.row
          div.col-md-8.col-md-offset-2
            h1 eibio
            nav.navbar.navbar-default
              div.navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse" aria-expanded="false")
                  span menu
                
              div.collapse.navbar-collapse#navbar-collapse
                ul.nav.navbar-nav
                  li(ui-sref-active='active')
                    a(ui-sref='index') search
                  li(ui-sref-active='active')
                    a(ui-sref='createPerson') create

        div.row#view(ui-view='')
          
            //- div(ng-if='step==0')
            //-   h2 viaf
            //-   p type the name of the person
            //-   form.form-horizontal
            //-     div.input-group
            //-       input.form-control(ng-model='query', placeholder='search viaf')
            //-       span.input-group-btn
            //-         button.btn.btn-default(ng-click='getViaf()') search
            //-   div(ng-if='viafItems.length')
            //-     p choose the proper viaf identifier
            //-     div(ng-repeat='item in viafItems')
            //-       h3
            //-         a(ng-href='http://viaf.org/viaf/{{item.viafid}}'){{item.term}}
            //-       pre {{item.viafid}}
            //- div(ng-if='step==1')
            //-   h2 dbpedia
            //-   button(ng-click='next()') next
            //- div(ng-if='step==2')
            //-   pre result
            //-   button(ng-click='restart()') restart

    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.min.js')
    script(src='js/lib/angular-ui-router.min.js')
    script(src='js/lib/ui-bootstrap-custom-0.14.3.min.js')
    script(src='js/lib/ui-bootstrap-custom-tpls-0.14.3.min.js')
    script(src='js/lib/moment.min.js')
    script(src='js/lib/marked.min.js')

    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers/core.js')
    script(src='js/controllers/index.js') 
    script(src='js/controllers/person.js')   