<div class='col-md-5 col-md-offset-2'>

  <ul class="nav nav-tabs">
    <li role="presentation" ui-sref-active='active'><a ui-sref='createPerson.viaf'>a) Viaf</a></li>
    <li role="presentation" ui-sref-active='active'><a ui-sref='createPerson.dbpedia'>b) DBPEDIA</a></li>
    <li role="presentation" ui-sref-active='active'><a  ui-sref='createPerson.description'>c) fill the description</a></li>
    <li role="presentation" ui-sref-active='active'><a  ui-sref='createPerson.review'>d) Copy and refine</a></li>
  </ul>

  <div ui-view></div>
  <!-- <uib-tabset>
    <uib-tab heading="abstracts">
      <h2>abstract</h2>
      <p>
       english version
      </p>
      <textarea class="form-control" rows="5" ng-model='person.abstract_en'></textarea>
    
      <p>
       french version
      </p>
      <textarea class="form-control" rows="5" ng-model='person.abstract_fr'></textarea>
    </uib-tab>

    <uib-tab ng-repeat="tab in tabs" heading="{{$index+1}}. {{tab.title}}" active="tab.active" disable="tab.disabled">
      <div ng-include='tab.templateUrl'></div>
    </uib-tab>
    
  </uib-tabset> -->


    

</div>
<div class='col-md-3'>
  <h4>preview</h4>
  <p>
    This area displays the preview of the biography you're building.
    By providing VIAF and DBPEDIA identifier some information can be automatically imported.
  </p>
  <!-- <a ng-click='reset()'>(reset)</a> -->
 <!-- <input type='checkbox' class='form-control' ng-model='withOutHeaders' value='true'> <label>without headers </label> -->
  <div class='person-lite'>
    <h5>{{person.name}}</h5>
    <div>{{person|datesOfAPerson}}</div>

    <div ng-if='person.viaf_id'>
      <label>viaf:</label> 
      <a target='_blank' ng-href='http://viaf.org/viaf/{{person.viaf_id}}'>{{person.viaf_id}}</a>
    </div>
    <div ng-if='person.wiki_id'>
      <label>dbpedia:</label> 
      <a target='_blank' ng-href='http://dbpedia.org/resource/{{person.wiki_id}}'>{{person.wiki_id}}</a>
    </div>
    <div ng-if='person.wikidata_id'>
      <label>wikidata:</label> 
      <a target='_blank' ng-href='https://www.wikidata.org/wiki/{{person.wikidata_id}}'>{{person.wikidata_id}}</a>
    </div>
    <div ng-if='person.worldcat_id'>
      <label>worldcat:</label> 
      <a target='_blank' ng-href='http://www.worldcat.org/identities/{{person.worldcat_id}}'>{{person.worldcat_id}}</a>
    </div>
    <div ng-if='person.isni_id'>
      <label>isni:</label> 
      <a target='_blank' ng-href='http://isni.oclc.nl/DB=1.2/SET=1/TTL=1/CMD?ACT=SRCH&IKT=8006&SRT=&TRM=ISN%3A{{person.isni_id}}'>{{person.isni_id}}</a>
    </div>
    <label ng-if='person.abstract_en'>en</label> 
    <div  ng-if='person.abstract_en' marked='person.abstract_en'></div>
    <label ng-if='person.abstract_fr'>fr</label> 
    <div  ng-if='person.abstract_fr' marked='person.abstract_fr'></div>
    <label ng-if='person.dois'>DOIs</label> 
    <div ng-if='person.dois'>{{person.dois}}</div>
  </div>

  <a class='btn btn-small btn-default btn-block' clipboard text='person|tsv:personFields'>copy to clipboard</a>
</div>
