person__slug	person__original_slug	start_date	end_date	activity__slug	activity__country	activity__position
angela-merkel	angela-merkel	1991	1994	federal-minister-for-women-deu	DEU	Federal Minister for Women
angela-merkel	angela-merkel	1994	1998	federal-minister-for-nuclear-safety-deu	DEU	Federal Minister for Nuclear Safety
angela-merkel	angela-merkel	1994	1998	federal-minister-for-nature-conservation-deu	DEU	Federal Minister for Nature Conservation
angela-merkel	angela-merkel	1990	1990	joined-the-christian-democratic-union-of-germany-cdu-deu	DEU	Joined the Christian Democratic Union of Germany CDU
angela-merkel	angela-merkel	1990	1990	deputy-spokesman-for-the-lothar-de-maiziere-government-in-the-german-democratic-republic-gdr-deu	DEU	Deputy Spokesman for the Lothar de Maizière Government in the German Democratic Republic (GDR)
angela-merkel	angela-merkel	1998	2000	secretary-general-of-the-christian-democratic-union-of-germany-cdu-deu	DEU	Secretary-General of the Christian Democratic Union of Germany (CDU)
angela-merkel	angela-merkel	1991	1998	secretary-general-of-the-christian-democratic-union-of-germany-cdu-deu	DEU	Secretary-General of the Christian Democratic Union of Germany (CDU)
angela-merkel	angela-merkel	1989	1989	member-of-the-democratic-awakening-movement-in-the-german-democratic-republic-gdr-deu	DEU	Member of the ‘Democratic Awakening’ movement in the German Democratic Republic GDR
angela-merkel	angela-merkel	1991	1994	federal-minister-for-youth-deu	DEU	Federal Minister for Youth
angela-merkel	angela-merkel	1994	1998	federal-minister-for-the-environment-deu	DEU	Federal Minister for the Environment
angela-merkel	angela-merkel	2000	2000	federal-chair-of-the-christian-democratic-union-of-germany-cdu-since-deu	DEU	Federal Chair of the Christian Democratic Union of Germany CDU since
angela-merkel	angela-merkel	1990	1990	member-of-the-bundestag-since-deu	DEU	Member of the 'Bundestag' since
angela-merkel	angela-merkel	2005	2005	chancellor-of-the-federal-republic-of-germany-since-deu	DEU	Chancellor of the Federal Republic of Germany since
angela-merkel	angela-merkel	1993	2000	chair-of-the-mecklenburg-vorpommern-christian-democratic-union-of-germany-cdu-deu	DEU	Chair of the Mecklenburg-Vorpommern Christian Democratic Union of Germany (CDU)
angela-merkel	angela-merkel	2002	2005	chair-of-the-christian-social-union-in-bavaria-csu-parliamentary-group-in-the-bundestag-deu	DEU	
margaret-thatcher	margaret-thatcher	1970	1974	state-secretary-for-science-gbr	GBR	State Secretary for Science 
margaret-thatcher	margaret-thatcher	1974	1975	shadow-state-secretary-for-the-environment-gbr	GBR	Shadow State Secretary for the Environment
margaret-thatcher	margaret-thatcher	1979	1990	prime-minister-gbr	GBR	Prime Minister
margaret-thatcher	margaret-thatcher	1975	1979	leader-of-the-opposition-gbr	GBR	Leader of the Opposition 
margaret-thatcher	margaret-thatcher	1975	1990	leader-of-the-conservative-party-gbr	GBR	Leader of the Conservative Party
margaret-thatcher	margaret-thatcher	1959	1992	conservative-member-of-parliament-gbr	GBR	Conservative Member of Parliament